:root {
    --bg-main: #f2f0f5;
    --bg-body: #fff;
    --color-txt: #000;
    --filled-color: #000;
    --filled-bg: #dacaf8;

    --white: #fff;
    --blue: #00aeef;
    --red: #e91e63;
    --black: #000;
    --purple: #5e17eb;

    --nav-size: 70px;
    --sudoku-cell-size: 50px;

    --border-radius: 10px;

    --space-y: 20px;

    --gap: 5px;

    --font-size: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;
}

.dark {
    --bg-main: #2a2a38;
    --bg-body: #1e1a2e;
    --color-txt: #6a6a6a;
    --filled-color: #544f63;
    --filled-bg: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* -webkit-tap-highlight-color: transparent; */
}

body {
    font-family: 'Rock Salt', cursive;
    height: 100vh;
    background-color: var(--bg-body);
    /* overflow-x: hidden; */
    user-select: none;
}

input {
    font-family: 'Rock Salt', cursive;
    border: 2px solid var(--bg-main);
    color: var(--color-txt);
}

input:hover,
input:focus {
    border-color: var(--purple);
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

nav {
    background-color: var(--bg-body);
    color: var(--color-txt);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px var(--bg-main);
    z-index: 99;
}


.nav-container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: var(--nav-size);
}

.nav-logo {
    font-size: var(--font-size);
    color: var(--purple);
}

.dark-mode-toggle {
    color: var(--purple);
    font-size: var(--font-size);

}

.bx-sun {
    display: none;
}

.bx-moon {
    display: inline-block;
}

.dark .bx-sun {
    display: inline-block;
}

.dark .bx-moon {
    display: none;
}